// Sass Document
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@font-face{
    font-family:"Titillium Web";
    font-style:default;
    font-weight: 200px;
    src:'https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap'
}
